<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
      body,
      html, 
      .body {
        background: #f3f3f3 !important;
      }
    
      .container.header {
        background: #f3f3f3;
      }
    
      .body-border {
        border-top: 8px solid #663399;
      }
    </style>
</head>
<body>
    
      <!-- move the above styles into your custom stylesheet -->
      
      <spacer size="16"></spacer>
      
      <container class="header">
        <row>
          <columns>
            <h1 class="text-center">Welcome to Academlo</h1>
      
            <!-- <center>
              <menu class="text-center">
                <item href="#">About</item>
                <item href="#">Course List</item>
                <item href="#">Campus Map</item>
                <item href="#">Contact</item>
              </menu>
            </center> -->
      
          </columns>
        </row>
      </container>
      
      <container class="body-border">
        <row>
          <columns>
      
            <spacer size="32"></spacer>
      
            <center>
              <img src="cid:logo">
            </center>
      
            <spacer size="16"></spacer>
      
            <h4>An exciting future of terrorizing sailors awaits you at Academlo.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa vel architecto, perspiciatis eius cum autem quidem, sunt consequuntur, impedit dolor vitae illum nobis sint nihil aliquid? Assumenda, amet, officia.</p>
      
            <center>
              <menu>
                <item href="https://www.academlo.com/">Acedemlo</item>
                <item href="https://www.facebook.com/academlo">Facebook</item>
                <item href="https://www.twitch.tv/academlo">Twitch</item>
                <item href="https://www.instagram.com/academlohq/">Instagram</item>
              </menu>
            </center>
      
          </columns>
        </row>
      
        <spacer size="16"></spacer>
      </container>
</body>
</html>